{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% block title %}
    My Resume Website
    {% endblock %}
</title>
<style>

</style>
<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

{% block extra_css %}
{% endblock %}


</head>

<body class="d-flex flex-column min-vh-100 bg-warning-subtle ">


<!-- Navbar -->
{% include 'inc/navbar.html' %}
{% include 'inc/message.html' %}

<!-- Main Content (Full Width) -->
<main class="flex-grow-1">
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <p class="mb-0">© 2026 - ساخته شده با Django ❤️</p>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% block extra_js %}
{% endblock %}


</body>
</html>
